* {
    box-sizing: border-box;
}
html,
body {
    margin: 0;
    padding: 0;
  }
body {
    font-family: 'PT Sans', sans-serif;
    background-color: #eee;
}
.banner {
    width: 100%;
    height: 250px;
    background: url('../img/nintendoBanner.jpg');
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);
}
.banner h1 {
    color: #ffffff;
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;  
}
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

/* Menu bar */
.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 80px;
  margin: auto;
  position: relative;
  background-color:  #c3c3c3;
  z-index: 7;
}
.menu li {
  float: left;
  width: 16.6%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.menu a {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-decoration: none;
  position: relative;
  font-size: 18px;
  z-index: 9;
}
a.active {
  background-color: #fff; /*change*/
  color: #ff0000; /*change*/
}
li.slider {
  width: 16.9%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #fff;
  z-index: 8;
  transition: left 0.4s, background-color 0.4s;
}
.menu li:nth-child(1):hover ~ .slider,
.menu li:nth-child(1):focus ~ .slider,
.menu li:nth-child(1):active ~ .slider {
  left: 0%;
  background-color: #ffffff;
}
.menu li:nth-child(2):hover ~ .slider,
.menu li:nth-child(2):focus ~ .slider,
.menu li:nth-child(2):active ~ .slider {
  left: 16.6%;
  background-color: #ff0000;
}
.menu li:nth-child(3):hover ~ .slider,
.menu li:nth-child(3):focus ~ .slider,
.menu li:nth-child(3):active ~ .slider {
  left: 33.2%;
  background-color: #1cba00;
}
.menu li:nth-child(4):hover ~ .slider,
.menu li:nth-child(4):focus ~ .slider,
.menu li:nth-child(4):active ~ .slider {
  left: 49.8%;
  background-color:   #ecdd00 ;
}
.menu li:nth-child(5):hover ~ .slider,
.menu li:nth-child(5):focus ~ .slider,
.menu li:nth-child(5):active ~ .slider {
  left: 66.4%;
  background-color:  #00a7cf;
}
.menu li:nth-child(6):hover ~ .slider,
.menu li:nth-child(6):focus ~ .slider,
.menu li:nth-child(6):active ~ .slider {
  left: 83%;
  background-color:  #ff8000 ;
}

/*center*/
.container {
    text-align: center;
    align-content: flex-end;
    justify-content: space-between;
    /*background-color: teal;*/
    margin-left: 300px;
    margin-right: 300px;
    height: 100%;
}
.imagen-central {
    background-image: url("../img/imagen-central.jpg");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    height: 400px;
}
.amiibo {
    background-color: royalblue;
    margin-left: 300px;
    margin-right: 300px;
    text-align: center;
    height: 500px;
}
footer {
    display: block;
    font-family: 'PT Sans', sans-serif;
    background-color: slategrey;
    height: 300px;
    text-align: start;
    padding-top: 100px;
    padding-left: 20px;
}
